// FONT EMBEDDING & TYPO VARIABLES
$headline-font: "Signifier Extra";
$headline-font-mobile: "Signifier Light";
$headline-font-thin: "Signifier Thin";
$body-font: "Founders Regular";
$icon-font: "IconFont";


@font-face {
    font-family: 'Founders Regular';
    src:          url('../../public/fonts/founders-grotesk-web-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signifier Extra';
    src:          url('../../public/fonts/signifier-web-extralight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signifier Thin';
    src:          url('../../public/fonts/signifier-web-thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signifier Light';
    src:          url('../../public/fonts/signifier-web-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IconFont';
    src:          url('../../public/fonts/icon-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rison';
    src:          url('../../public/fonts/Rison-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
