
$headline-size:         3.2vw;
$headline-size-mobile:  26px;
$headline-size-mid:     60px;

$intro-size:            3.2vw;

$body-size:             18px;
$body-large:            24px;
$mid-size:              22px;

$small-size:            13px;
$nav-size:              22px;

$line-height:           1.3em;
$line-height-headline:  1.25em;


h2, h2 p {
  font-size: $headline-size-mobile;
  font-family: $headline-font;
  line-height: $line-height-headline;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: .2em;

  &.tight {
    line-height: $line-height-headline * 0.9;
  }

  @include mq($from: tablet) {
    font-size: $headline-size;
  }

  strong {
		font-weight: normal;
	}

}

h3 {
  text-transform: uppercase;
  font-size: $nav-size;
  font-family: $body-font;
  font-weight: normal;
  letter-spacing: 0.1em;
  padding-bottom: 1em;
}

p {
  line-height: $line-height;
  font-size: $body-large;

  &.intro-big, &.intro-big p {
      font-family: $headline-font;
      font-size: $intro-size;    
    }
  
}

footer {
  font-size: $body-size;
}

nav, button {
  font-family: $body-font;
  font-size: $nav-size;

}

strong, .strong {
  font-weight: 600;
  font-family: $body-font;
}

em, i {
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
