// COLOR
$green:             #00be73;
$black:             #3A3A3A;
$white:             white;
$light-gray:        rgb(133, 133, 133);
$alert-red:         red;
$alert-green:       $green;
$alert-blue:       blue;
$disabled-gray: $light-gray;

// MARGINS & SPACES
$outer-margin: 3.7%;
$space: 30px;

// SET OUTER MARGINS ON SECTION
@mixin outerMargins() {
  padding-left: $outer-margin * 0.8;
  padding-right: $outer-margin * 0.8;

  @include mq($from: tablet) {
    padding-left: $outer-margin;
    padding-right: $outer-margin;
  }
}

