// COLOR
$green:             #00be73;
$black:             #3A3A3A;
$white:             white;
$beige:             #E1DCD2;
$light-gray:        rgb(133, 133, 133);
$alert-red:         red;
$alert-green:       $green;
$alert-blue:       blue;
$disabled-gray: $light-gray;

// MARGINS & SPACES
$outer-margin: 3.7%;
$space: 30px;
$scale-space: 2vw;

// SET OUTER MARGINS ON SECTION
@mixin outerMargins() {
  padding-left: $outer-margin * 1.1;
  padding-right: $outer-margin * 1.1;

  @include mq($from: tablet) {
    padding-left: $outer-margin;
    padding-right: $outer-margin;
  }
}

@mixin verticalMarginTop() {
  padding-top: $scale-space;

  @include mq($from: tablet) {
    padding-top: $scale-space * 2;
  }
}

