// COLOR
$green: #00be73;
$dark-green: #00955c;
$black: #444444;
$white: white;
$beige: #e1dcd2;
$light-beige: lighten($beige, 10%);
$light-gray: rgb(133, 133, 133);
$alert-red: red;
$alert-green: $green;
$alert-blue: blue;
$disabled-gray: $light-gray;
$icon-font: "IconFont";

// MARGINS & SPACES
$outer-margin: 3.7%;
$space: 30px;
$scale-space: 2.5vw;
$max-width: 1440px;

// SET OUTER MARGINS ON SECTION
@mixin outerMargins() {
  padding-left: $outer-margin * 1.5;
  padding-right: $outer-margin * 1.5;

  @include mq($from: tablet) {
    padding-left: $outer-margin;
    padding-right: $outer-margin;
  }
}

@mixin verticalMarginTop() {
  padding-top: $space;

  @include mq($from: tablet) {
    padding-top: $scale-space * 2;
  }

  @include mq($from: wide) {
    padding-top: $space * 1.8;
  }
}

@mixin verticalMarginBottom() {
  padding-bottom: $space;

  @include mq($from: tablet) {
    padding-bottom: $scale-space * 2;
  }

  @include mq($from: wide) {
    padding-bottom: $space * 1.8;
  }
}

@mixin maxWidth() {
  max-width: $max-width;
  margin: auto;
}
