.button {
  background-color: $green;
  color: $white;
  display: inline-block;
  margin-bottom: 1em;
  margin-top: 1em;

  &:hover {
    background: $dark-green;
    border-color: $dark-green;
  }
}
