.footer{
  @include outerMargins();
  padding-top: $space;
  padding-bottom: $space;
  color: $white;
  background-color: $green;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title{
    color: $black;
    width: spanGrid(2);
  }

  .address{
    @include mq($until: tablet) {
      display: none;
     }
    flex: 1 1 auto;
  }

  .social{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    img{
      height:20px;
      width:auto;
      &:not(:last-child) {
        margin-right: $space;
      }
    }
  }
}
