.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	@include outerMargins();
	padding-top: math.div($space, 2);
	@include mq($from: desktop) {
		position: relative;
		max-height: 100px;
		min-height: 100px;
	}
	.menu {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		z-index: 100;
		@include mq($from: desktop) {	
			padding-top: $space;
			padding-bottom: math.div($space, 2);
			&.floater{
				position: fixed;
				width: 100%;
				left:0;
				top:0; 
				background-color: $white;
				transition: transform 0.3s cubic-bezier(0.55, 0.08, 0.68, 0.53);
				transform: translateY(0%);
				//margin-top: $space/2;
				@include outerMargins();
			}
		}
		
				
		
		.navItems {
			list-style: none;
			flex: 1 1 auto;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			.navItem {
				margin: 10px;
				a {
					transition: color 0.3s ease;
				}
				a:hover, &.selected > a {
					color: $green;
				}
			}
			@include mq($until: desktop) {
				display: flex;
				position: fixed;
				@include outerMargins();
				padding-top: 20vh;
				top: 0;
				right: 0;
				background: $black;
				height: 100vh;
				z-index: 1000;
				flex-direction: column;
				width: 100%;
				justify-content: flex-start;
				transition: transform 0.2s cubic-bezier(0.55, 0.08, 0.68, 0.53);
				transform: translateX(100%);
				a {
					color: $white;
				}
				li {
					margin-left: 0;
				}
			}
		}
		@include mq($until: desktop) {
			transform: none !important;
		}
	}
	.contactFooter {
		display: none;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
		margin-bottom: $space;
	}
	&.showMobile {
		.navItems {
			transition: transform 0.2s cubic-bezier(0.55, 0.08, 0.68, 0.53);
			transform: translateX(0%);
		}
		.contactFooter {
			@include mq($until: desktop) {
				display: block;
			}
		}
	}
	&.showFloater {
		position: fixed;
	}
	.navMobile {
		flex: 0 0 auto;
		z-index: 10000;
		@include mq($from: desktop) {
			display: none;
		}
		img {
			height: 30px;
		}
	}
	.logo {
		position: relative;
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		z-index: 10000;
		line-height: 0;
		font-family: Rison;
		font-size: 25px;
		@include mq($from: desktop) {
			font-size: 35px;
		}
		a {
			position: fixed;
			color: $green;
			padding: 0;
			margin: 0;
			span {
				@include mq($from: desktop) {
					position: absolute;
					&:nth-child(2) {
						margin-left: 1.8rem;
					}
					&:nth-child(3) {
						margin-left: 2.8rem;
					}
					&:nth-child(4) {
						margin-left: 4rem;
						position: fixed;
					}
					&:nth-child(5) {
						margin-left: 5.8rem;
					}
				}
			}
		}
		.logoMobile {
			width: auto;
			height: 25px;
			@include mq($from: desktop) {
				display: none;
			}
		}
		&:hover {
			text-decoration: none !important;
		}
	}

	.contact {
		@include mq($until: desktop) {
			display: none;
		}
		margin-left: 1em;
	}
}
