
.nav{
  position: sticky;
  top:0;
  z-index: 1;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @include outerMargins();
  padding: 3%;
  width: 100%;
  max-height: 70px;
  min-height: 70px;
  
  .nav-items{
    list-style: none;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .nav-item{
      margin:10px;
    }
    @include mq($until: desktop) {
      display: none;
    }
  }
  .nav-mobile{
    flex: 0 0 auto;
    @include mq($from: desktop) {
      display: none;
    }
    img{
      height:40px;
    }
  }
  .logo{
    flex: 1 1 auto;
    img{
      width: auto;
    }
    &:hover{
      text-decoration: none !important;
    }
  }

  .contact {
    margin-left: 1em;
  }

}