.intro {
  @include outerMargins();
  @include verticalMarginBottom;
  display: flex;
  flex-direction: column;
  //min-height: calc(100vh - 50px - 5vw);

  h1 {
    width: spanGrid(12);
    margin-right: spanGrid(1);
    margin-left: spanGrid(1);
    color: $green;
    padding-top: 0.3em;
    //position: sticky;
    //top: 0px;
  }

  p {
    padding-top: 1em;
    width: spanGrid(10);
    margin-left: spanGrid(5);
    margin-right: spanGrid(1);
    background: #fffffff3;
    z-index: 1;
  }
}
