.section {
  width: 100%;
  background-color: $beige;
  @include verticalMarginTop();
  @include verticalMarginBottom();
  display: flex;
  justify-content: center;

  .container {
    @include maxWidth();
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include outerMargins();
    @include mq($from: tablet) {
      margin-left: spanGridWithGutter(1);
      margin-right: spanGridWithGutter(1);
    }

    h3 {
      width: 100%;
      text-align: center;
      @include mq($from: tablet) {
        padding-bottom: 2em;
      }
    }
  }
}
