.myDiv {
  display: flex;
  @include verticalMarginTop();
  @include verticalMarginBottom();

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  article {
    width: 50%;
    //padding-left: spanGrid(1);
    padding-right: spanGrid(1);

    h2 {
      color: $green;
    }
  }

  figure {
    width: 50%;
    padding-left: spanGrid(2);
    padding-right: spanGrid(2);
  }
}
