.section {
  width: 100%;
  background-color: $beige;
  @include outerMargins();
  @include verticalMarginTop();
  @include verticalMarginBottom();
  @include mq($until: tablet) {
    scroll-margin-top: 68px;
  }
}