.outro {
  width: 100%;
  background-color: $white;
  @include outerMargins();
  @include verticalMarginTop();
  @include verticalMarginBottom();

  h2 {
    padding-left: spanGridWithGutter(2);
    padding-right: spanGridWithGutter(2);
  }

  button {
    margin-left: spanGridWithGutter(2);
  }
}
