.myDiv {
  display: flex;

  @include mq($until: tablet) {
    flex-direction: column-reverse;
  }

  @include mq($from: tablet) {
    &:before {
      content: "1";
      position: absolute;
      left: calc(50% - 15px);
      width: 30px;
      height: 30px;
      background: $green;
      border-radius: 15px;
      color: $white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 2px;
    }

    &:nth-child(2):before {
      content: "2";
    }

    &:nth-child(3):before {
      content: "3";
    }
  }

  @include mq($from: tablet) {
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    &:nth-child(even) {
      article {
        border-right: 1px solid $green;
        border-left: 0px solid $green;
      }
    }
  }

  &:not(:last-child) article {
    @include verticalMarginBottom();
  }

  article {
    @include mq($from: tablet) {
      width: 50%;
      padding-left: spanGrid(1);
      padding-right: spanGrid(1);
      border-left: 1px solid $green;
    }

    h2 {
      color: $green;
      padding-bottom: 0.4em;
    }

    h3 {
      padding-top: 0.2em;
    }
  }

  figure {
    mix-blend-mode: multiply;
    padding-left: spanGrid(1);
    padding-right: spanGrid(1);

    @include mq($from: tablet) {
      width: 50%;
    }
  }
}
