.outro {
  @include maxWidth();

  .wrapper {
    @include outerMargins();
    @include verticalMarginTop();
    @include verticalMarginBottom();

    @include mq($from: tablet) {
      margin-left: spanGridWithGutter(2);
      margin-right: spanGridWithGutter(2);
    }
  }

  @include mq($until: tablet) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
