.people {
  @include mq($from: tablet) {
    width: spanNestedGrid(10, 5);
  }

  div {
    width: 50%;
    border: 6px solid $white;
    border-radius: 50%;

    @include mq($until: tablet) {
      margin: auto;
    }
  }

  strong {
    //color: $green;
    font-weight: normal;
  }

  p:first-of-type {
    margin-top: 1em;
  }

  p:nth-child(-n + 2) {
    margin-bottom: 0;
  }

  p:last-of-type {
    padding-right: 2vw;
    color: $green;
  }
}
