.who {
  @include mq($until: tablet) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include mq($from: tablet) {
    width: spanGrid(5);
  }

  figure {
    padding-left: 22%;
    padding-right: 22%;
  }

  article {
    p:first-of-type {
      color: $green;
      padding-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}
