.container{
  width:100%;
}

.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  flex-direction: column;
  padding-left: spanGrid(2);
  padding-right: spanGrid(2);
  height: calc(100vh - 70px); 
  color: $green;
  }

  .section {
    background-color: green;

    .myDiv {
      display: flex;
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
    }

    article {
      width: 50%;
    }

    figure {
      width: 50%;
    }
  }