.container {
  width: 100%;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  padding-left: spanGrid(2);
  padding-right: spanGrid(2);
  height: calc(100vh - 70px);

  h2 {
    color: $green;

    &:first-of-type {
      color: $black;
      padding-right: 0.5em;
      padding-top: 1em;
    }
  }
  .scrollArrow{
    transform: rotate(90deg);
    text-align: center;
    cursor: pointer;
  }
}

.outro {
  background-color: $beige;
  padding-left: spanGrid(2);
  padding-right: spanGrid(2);
  @include verticalMarginTop();
  @include verticalMarginBottom();
  
  h2 {
    color: $green;
  }

}
