.container{
  width:100%;
}
.en-ny-class {

}

.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  flex-direction: column;
  padding-left: spanGrid(2);
  padding-right: spanGrid(2);
  height: calc(100vh - 70px); 
  font-size: 20px;
  color:#00be73;
  
  @include mq($from: desktop) {
    font-size: 30px;
  }
  h1 {
    color:#000;
    font-size: 26px;
    margin-bottom: 20px;
    @include mq($from: desktop) {
      font-size: 40px;
    }
  }
  line-height: 1.3;
}