@use "sass:math";

button {
  $height: 200px;
  border-radius: math.div($height, 2);
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
  display: inline-block;
  color: $black;
  transition: min-height 0.1s ease-out;
  background-color: white;
  transition: all 0.15s ease-in;
  min-height: 0;
  cursor: pointer;
  border: 2px solid $green;

  @include mq($from: tablet) {
    border: 3px solid $green;
  }

  &:hover {
    background-color: $green;
  }
}
