@use "sass:math";

button {
  $height: 200px;
  border-radius: math.div($height,2);
  border: 3px solid $green;
  padding: 10px;
  padding-left: .8em;
  padding-right: .8em;
  width: auto;
  display: inline-block;
  color: $black;
  transition: min-height .1s ease-out;
  min-height: 0;

  &:hover {
    cursor: pointer;
  }
}