.team {
  width: 100%;
  background-color: $beige;
  @include verticalMarginTop();
  @include verticalMarginBottom();

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    @include maxWidth();
    justify-content: center;

    h2 {
      width: 100%;
      color: $green;
      padding-bottom: 1em;
    }

    h3 {
      width: 100%;
      display: none;

      @include mq($until: tablet) {
        text-align: center;
      }
    }

    div.people {
      @include outerMargins();

      @include mq($from: tablet) {
        margin-left: spanGridWithGutter(2);
        margin-right: spanGridWithGutter(2);
      }
      display: flex;
      flex-wrap: wrap;

      div.management {
        display: flex;
      }
    }
  }
}
