.team {
  width: 100%;
  background-color: $beige;
  @include outerMargins();
  @include verticalMarginTop();
  @include verticalMarginBottom();

  .wrapper {
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    @include mq($from: tablet) {
      width: spanGrid(12);
    }

    h2 {
      width: 100%;
      color: $green;
      padding-bottom: 1em;
    }

    h3 {
      width: 100%;
      display: none;

      @include mq($until: tablet) {
        text-align: center;
      }

      @include mq($from: tablet) {
        width: spanNestedGrid(12, 2);
        padding-top: 1em;
      }
    }

    div.people {
      display: flex;
      flex-wrap: wrap;
      @include mq($from: tablet) {
        width: spanNestedGrid(12, 10);
      }

      div.management {
        display: flex;
      }
    }
  }
}
