.container {
  width: 100%;
}

.intro {
  @include maxWidth();
  @include mq($until: tablet) {
    padding-bottom: $space;
  }

  .wrapper {
    @include outerMargins();
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    //min-height: calc(100vh - 50px - 30px);

    @include mq($from: tablet) {
      min-height: calc(100vh - 100px);

      margin-left: spanGridWithGutter(2);
      margin-right: spanGridWithGutter(2);
    }

    .howItWorks{
      cursor: pointer;
      h3 {
        &:first-of-type{
          @include mq($until: tablet) {
            padding-top: 1em;
          }
        }
        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }

  h2 {
    color: $green;

    &:first-of-type {
      color: $black;
      padding-right: 0.5em;

      @include mq($until: tablet) {
        padding-top: 1em;
      }
    }
  }
  .scrollArrow {
    font-family: $icon-font;
    text-align: center;
    cursor: pointer;
    color: $green;
  }
}

.outro {
  background-color: $beige;
  @include verticalMarginTop();
  @include verticalMarginBottom();

  .container {
    @include maxWidth();
  }

  .wrapper {
    @include outerMargins();

    @include mq($until: tablet) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    @include mq($from: tablet) {
      margin-left: spanGridWithGutter(2);
      margin-right: spanGridWithGutter(2);
    }

    div p {
      display: inline;
    }

    span {
      padding-left: 0.2em;
      font-family: $icon-font;
      font-size: 20px;
    }
  }

  h2 {
    color: $green;

    p {
      margin-bottom: 0;
      &:first-of-type {
        color: $black;
        padding-bottom: 0;
      }
    }
  }

  p {
    a {
      color: $green;
    }
  }

  button {
    margin-bottom: 2em;
  }
}
